<div class="row" style="margin-top:100px;">
<%= simple_form_for @company do |form| %>
  <%= form.input :name, label: "Name" %>
  <%= form.input :company_type, label: "Type" %>
  <%= form.button :submit %>
<% end %>
</div>
