<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <p><%= link_to "Job portal", '#', id: "logo" %></p>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   companies_path %></li>
        <li><%= link_to "Sign in",   '#' %></li>
        <li><%= link_to "sign up",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
